<button type="button" class="btn btn-warning" routerLink="/"><---</button>

<h2 class="col-md-4 offset-md-4 ">Admin</h2>

<div class="list-group">

  <h1>Menu</h1>
  <a routerLink="/listsalat" routerLinkActive="active" class="list-group-item list-group-item-action">Салати</a>
  <a routerLink="/listfirstcourses" routerLinkActive="active" class="list-group-item list-group-item-action">Перші страви</a>
  <a routerLink="/listcourses" routerLinkActive="active" class="list-group-item list-group-item-action">Гарніри</a>
  <a routerLink="/listsecondscourses" routerLinkActive="active" class="list-group-item list-group-item-action" >Другі страви</a>
  <a routerLink="/listdrinks" routerLinkActive="active" class="list-group-item list-group-item-action" >Пити</a>

  <br>
  <br>
  
  <h1>Image</h1>
  <a routerLink="/listimages" routerLinkActive="active" class="list-group-item list-group-item-action" >Image Restaurant</a>
  <a routerLink="/listimagesH" routerLinkActive="active" class="list-group-item list-group-item-action" >Image Hall</a>

  <br>
  <br>

  <h1>Login</h1>
  <a routerLink="/listlogin" routerLinkActive="active" class="list-group-item list-group-item-action" >Login Admin</a>
 

  <br>
  <br>

  <h1>Contact</h1>
  <a routerLink="/listContacts" routerLinkActive="active" class="list-group-item list-group-item-action" >All Contact</a>
 
  

</div>









