<app-header></app-header>
<div id="intro" class="view">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="text-center mt-4">
                    <br>
                <br>
                <br>
                <br>
                <br>
               
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                </div>

                
            </div>

        </div>

    </div>
    

</div>

<br>
<br>
<br>
<div class="col-md-11 offset-md-1" style="font-family: Snell Roundhand, cursive;font-size:20px">
    <div class="row d-flex justify-content-center text-center">
    <a class="btn btn-lg btn-outline-warning " routerLink="/contact" routerLinkActive="active">
        Бронювання онлайн столика
    </a>
    </div>
    <br>
    <br>



    <span>
        Нам вдалося створити виняткову атмосферу, неповторний клімат для Вашого відпочинку під опікою професійного та гостинного персоналу. Інтер'єр і характер готелю відрізняє нас від інших і назавжди залишається в пам'яті гостей. Ми доклали багато зусиль для забезпечення комфорту і затишку нашим гостям. Кожен номер має свій неповторний характер, підкреслений індивідуальним дизайном.
    </span>
    <br>
    <br>
    <span>
        Наше вдале розташування, 0,5 км від міста Львова, на магістралі Київ-Чоп дає Вам можливість швидко і безперешкодно потрапити до нас, і повечерявши, набратися сил на наступний день.
    </span>

    <br>
    <br>
    <br>

</div>



<div id="intro" class="view">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
             <br>
               
            </div>

        </div>

    </div>
    

</div>




<app-footer></app-footer> 
