<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  shadow-sm" style="background-color: rgb(250, 250, 87);">
  
  <a class="my-0 mr-md-auto font-weight-normal" >
        <img src="https://pngimg.com/uploads/letter_m/letter_m_PNG112.png" width="250" height="100" class="d-inline-block align-top active" alt="">

      </a>

    <nav class="my-2 my-md-0 mr-md-3 topnav" id="myTopnav">
      <a   routerLink="/" routerLinkActive="active"><em style="font-size: 20px;">Головна</em></a>
      <a routerLink="/rest" routerLinkActive="active"><em style="font-size: 20px;">Ресторан</em></a>
      <a   routerLink="/hall" routerLinkActive="active"><em style="font-size: 20px;">Банкетний зал</em></a>
      <a  routerLink="/menu" routerLinkActive="active"><em style="font-size: 20px;">Меню</em></a>
      <a  routerLink="/contact" routerLinkActive="active"><em style="font-size: 20px;">Контакт</em></a>
      <a routerLink="/reviews" routerLinkActive="active"><em style="font-size: 20px;">Відгуки</em></a>
      <a  routerLink="/login" routerLinkActive="active"><em style="font-size: 20px;">Увійти</em></a>
      <a  routerLink="/cards" routerLinkActive="active"><em style="font-size: 20px;">Картка знижка</em></a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </nav>
    
  </div>










  