<div class="card mb-3 wow fadeIn" style="background-color: rgb(189, 189, 189);">
    <!-- <div class="card-header font-weight-bold">Leave a reply</div> -->
    <div class="card-body col-md-4 offset-md-4">

        <!-- Default form reply -->
        <form action="" (submit)="addCom()">

            <!-- Comment -->
            <div class="form-group ">
                <label for="desription">Комент</label>
                <textarea class="form-control" id="desription" [(ngModel)]="desription" name="desription" rows="5"></textarea>
            </div>

            <!-- Name -->
            <label for="name">І'мя</label>
            <input type="text" [(ngModel)]="name" id="name" name="name" class="form-control">

            <br>

            <!-- Email -->
            <label for="email">Емайл</label>
            <input type="email" [(ngModel)]="email" id="email" name="email" class="form-control">


            <div class="text-center mt-4">
                <button class="btn btn-dark btn-lg btn-block" type="submit">Сохранить</button>
            </div>
        </form>
        <!-- Default form reply -->



    </div>
</div>
