  <footer class="footer text-center" style="background-color: rgb(250, 250, 87);">
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">СПИСОК</h4>
                <ul class="text-uppercase mb-4  ">
                  <li><a routerLink="/rest" routerLinkActive="active">Ресторан</a></li>
                  <li><a routerLink="/hall" routerLinkActive="active">Банкетний зал</a></li>
                  <li><a routerLink="/menu" routerLinkActive="active">Меню</a></li>
                  <li><a routerLink="/contact" routerLinkActive="active">Контакт</a></li>
                  <li><a routerLink="/reviews" routerLinkActive="active">Відгуки</a></li>
                  <li><a routerLink="/login" routerLinkActive="active">Увійти</a></li>
                  <li><a routerLink="/cards" routerLinkActive="active">Картка знижка</a></li>
                </ul>


                  
                <br>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">НАВКОЛО МЕРЕЖА</h4>
                <a class="btn btn-outline-dark btn-social mx-1" href="https://www.facebook.com/profile.php?id=100054012570597&epa=SEARCH_BOX"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-dark btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4 mb-5 mb-lg-0">
              <h4 class="text-uppercase mb-4">Місце розташування</h4>
              <p class="lead mb-0">
                  Київська 47a
                  <br />
                  Львів, UK 80461
              </p>
              <br>
              <br>
              <br>
          </div>
        </div>
    </div>
  
</footer>

<div class="copyright py-4 text-center text-dark">
  <div class="container"><small>Copyright © Your Website 2020</small></div>
</div>